{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_display.css') }}">
{% endblock %}

{% block title %}My Categories{% endblock %}

{% block content %}

    <header id="main_header" class="shadow_box">
        <h2> Categories </h2>
        
        <span id="header_actions">
            <form method="GET">
                <input type="search" name="q" value="{{ query }}" placeholder="Search category">
                <button class="action_button">Search</button>
            </form>
            <div class="header_buttons">
                <a class="action_button" href="{{ url_for('category.create') }}">New Category</a>
                <a class="action_button" href="{{ url_for('recipe.my_recipes') }}">All Recipes</a>
            </div>
        </span>

    </header>
    {% if not categories %}
        <p><em>
        {% if query != "" %}
            No categories match the query.
        {% else %}
            You don't have any categories yet.
        {% endif %}</em></p>
    {% else %}
        <ul class="items_display">
            {% for category in categories %}
            <li class="item">

                <!-- <form action="{{ url_for('recipe.my_recipes') }}" method="GET">
                    <input type="submit" class="item_title" name="category" value="{{ category['id'] }}">
                        {{ category['name'] }}
                    </input>
                </form> -->
                <a class="item_title link"
                 href="{{ url_for('category.display', id=category['id'])}}">
                    {{ category['name'] }}</a>

                <p class="item_description">
                    {% if not category['description'] %}
                    <em>No description.</em>
                    {% else %}
                    {{ category['description'] }} 
                    {% endif %}
                </p>

                <a class="action_button"
                    href="{{ url_for('category.edit', id=category['id']) }}">
                    Edit</a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}