@import url('input.css');

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_window {
    min-width: 200px;
    width: 350px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    padding: 10px;
    padding-bottom: 40px;
    margin-bottom: 20%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.auth_window form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.input_el {
    margin: 20px auto;
}


.additional_message {
    font-size: 90%;
    margin-top: 20px;
}

