@import url('input.css');

#creation_form {
    flex: 1;
    min-width: 50%;
    max-width: 70%;
    
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    margin: 20px auto;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.input_el {
    width: calc(100% - 20px);
    margin: 10px;
    position: relative;
}

fieldset.input_el {
    width: calc(100% - 50px);
}

.input_el > input[type='text'],
.input_el > input[type='url'],
.input_el > textarea {
    width: 100%;
}

.item_input {
    width: calc(100% - 75px);
}

.add_button {
    position: absolute;
    right: 0px;
}
