

button, input, select, textarea {
    box-sizing: border-box;
    font-size: 105%;
    border: 1px solid rgb(103, 103, 103);
    padding-left: 5px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 100%;
}  

input:focus, textarea:focus {
    outline: 3px solid lightcoral;
}

input[type="text"], input[type="url"], input[type="search"],
input[name="username"], input[type="password"] {
    height: 45px;
}

input[type="number"] {
    width: 3em;
}

select {
    min-width: 6em;
}

input::placeholder {
    font-size: 80%;
}

label {
    display: block;
}