@import url('input.css');

.items_display {
    width: 80%;
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.item {
    flex: 1 200px;
    max-width: 200px;
    height: 250px;
    border: 2px solid grey;
    margin: 10px;
    padding: 20px 10px 5px 10px;

    word-break: break-all;
    overflow-y: hidden;
    position: relative;
}

.item_title {
    font-size: 115%;
    font-weight: bold;
}

.item > .action_button {
    position: absolute;
    bottom: 5%;
    right: 5%;
}